body {
  font-family: "Segoe UI", Arial, sans-serif;
}

.container {
  max-width: 1200px;
}

.hero-banner{
  background-image: url("assets/hero.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 500px;
}

#vision #cards-container {
  gap: 32px;
}

#vision .card {
  max-width: 400px;
}

#experts #cards-container {
  gap: 24px;
}

#experts img {
  max-width: 200px;
}

@media screen and (min-width: 769px) {
  #experts #cards-container {
    gap: 48px;
  }

  #experts .expert-card {
    width: 50%;
  }
}

#advantages .card {
  border: 2px solid #6f3c3c;
  background-color: #c98e8b;
}

/* .advantages {
  max-width: 1200px;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: auto;
}
.advantages-cards {
  margin-left: 50px;
  max-width: 600px;
  flex: 0 0 80%;
  flex-direction: column;
}

.advantages-image{
  flex: 0 0 20%;
  max-height: 70%;
}

.advantages h1 {
  font-size: 42px;
  margin-bottom: 30px;
  margin-left: 120px;
}

.acard {
  background-color: #c98e8b;
  color: #ffffff;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-left: -50px;
  border: 2px solid #6f3c3c;
}


.acard h2 {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: 600;
}

.acard p {
  font-size: 16px;
  line-height: 1.5;
} */

/* Slight emphasis for last card */
/* .ccard {
  flex: 0 0 60%;
  background-color: #ffffff;
  color: #000000;
  max-width: 700px;
  padding: 15px;
  border-radius: 10px;
  margin-right: 15%;
  border: 2px solid #c9baba;
}
.advantages-container{
  display: flex;
  justify-content: space-between;

}
.capabilities-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.quality-image-container{
  display: flex;
  justify-content: space-between;
}
.mcard {
  padding: 15px;
  border-radius: 6px;
  width: 1000px;
  margin-left: 20px;
}
.mission-image{
  flex: 0 0 10%;
  max-height: 70%;
  align-items: last baseline;
  margin-left: 50px;
}
.capabilities-image{
  flex: 0 0 20%;
  margin-left: 5%;
} */